$app-colour-dark: #50514F;
$app-colour-mid: #59FFA0;
$app-colour-light:  #B4ADEA;

$border-radius: 5px;
$box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.2);

body {
    background: $app-colour-light;
}

app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin box-shadow {
    box-shadow: $box-shadow;
}